.login{
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
.login-title {
  text-align: center;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-top: 50px;
}

.login-button{
  background: #FF676D;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  width: 100%;
  float: right;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-right: 200px;
}
