.login-container {
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 50px;
}

.filter {
  width: 200px;
}

.login-form-button {
    width: 100%;
}

.mfa-button {
   width: 100%;
}


.service-label {
  float: left;
  font-weight: bold;
}

.slider-label {
  height: fit-content;
  margin-bottom:14px;
}

.slider-label p {
  float: left;
  font-weight: bold;
}

.dates-label {
  display: grid;
}

.dates-label p {
  width: fit-content;
  float: left;
  font-weight: bold;
}

.date-picker div.ant-form-item-control {
  float: left;
}

.algolia {
  margin-bottom: 24px;
}

.results {
  overflow: scroll;
  height: 984px;
}

.results-rate {
  color: #FF986A;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -5px;
}

.results-name-div {
  display: inline-block;
  vertical-align: top;
}
.results-rate-div {
  display: inline-block;
  vertical-align: top;
  float: right;
  text-align: end;
}

.results-card .ant-card-body {
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.results-location {
  color: rgba(0, 0, 0, 0.50);
  font-size: 11px;
  margin: 0px;
}

.results-from {
  color: rgba(0, 0, 0, 0.50);
  font-size: 11px;
  margin-bottom:-5px;
}
