
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

.App {
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none; */
  position:absolute;
  top:0;
  bottom:0;
  margin: auto 20px;
}

.App-header {
  background-image: linear-gradient(to right, #FF986A, #FFC371);
  height: 6vh;
  position: relative;
}

.Button-app {
  float: right;
}

a {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* .App-link {
  color: #61dafb;
} */

.div {
  padding-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
